/* import fonts from google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Nobile:ital,wght@0,200;0,300;1,200&family=Nobile:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Space+Mono&display=swap');
* {
    box-sizing: border-box;

}

html, body {
    margin: 0; /*  set to 0 keeps bg all the way to the edge of the screen*/
    padding: 0;
    background-color: #fefae0; /* change bg colour of website here */
}

/* HEADER STYLES - ChapterOne title and NavBar*/

.header-wrapper {
    display: flex;
    background-color: #283618; /* change this for header bg colour*/
    padding-bottom: 10px; /* change this for height of header bar */
    justify-content: space-between; /* keeps title to the left and nav bar to the right */
    align-items: center;
    box-shadow: 0 0 25px 0 #283618; /* this adds shadow to header box*/
}

header * {
    display: inline; /* keeps nav bar buttons in line */
}

.website-name{
    padding: 10px; /* keeps title off edge of screen */
    font-family: Corben;
    color: #fefae0;
}

.nav {
    padding: 10px; /* keeps nav  bar off edge of screen */
}

.nav a {
    display: inline-block;
    padding: .5em;
    font-family: Nobile;
    color: #fefae0; /* change colour of nav bar buttons */
    text-decoration: none; /* removes browser auto decoration on links*/
}

nav a:hover {
    background-color: #4e653380; /* sets colour of nav button when user hovers over them */
}

/* WELCOME  TEXT AND PARAGRAPH */
/* centres welcome text and paragraph */
.welcome-wrapper {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.title {
    text-align: center;
    font-family: Nobile;
    font-size: 25px;
    color: #283618;
}

.message {
    text-align: center;
    font-family: Nobile;
    font-weight: 200;
    font-style: italic;
    font-size: 18px;
    color: #283618;
}

/* FILTERS */
.container { /* adds rounded edge border around filter options */
    border: 2px solid #dbd3b480; /* change colour of border */
    border-radius: 10px; /* change thickness of border */
    padding: 20px;
    margin: 20px;
}

.container h4 {
    text-align: center;
    margin: 40px;
    font-family: Nobile; /* edit these to change appearance of 'select from the filters..' sentence*/
    font-size: 15px;
    color: #283618;
}

form { /* position of filter options using flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.genre-menu {
    align-self: center;
    margin: 10px;
    font-family: Nobile;
    font-size: 15px;
    color: #283618;
}

.category {
    align-self: center;
    margin: 10px;
    font-family: Nobile;
    font-size: 15px;
    color: #283618;
}

.length {
    align-self: center;
    margin: 10px;
    font-family: Nobile;
    font-size: 15px;
    color: #283618;
}

.year {
    align-self: center;
    margin: 10px;
    font-family: Nobile;
    font-size: 15px;
    color: #283618;
}

.order-by {
    align-self: center;
    margin: 10px;
    font-family: Nobile;
    font-size: 15px;
    color: #283618;
}

.submit-button {
    margin: 50px; /* puts 'find books' button at bottom of page */
}


.button { /* edits appearance of 'find books' button */
    background-color: #dbd3b480;
    border: none;
    color: #283618;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Nobile;
    font-size: 15px;
}


.button {
    border-radius: 4px; /* rounded corners on 'find books' button*/
}


/* RESULTS PAGE - changes how the returned books look */

.book-container { /* contains all the book info, adds border*/
    width: 70%; /* changes how much white space on either side of the container */
    border: 2px solid #dbd3b480; /* change colour of border */
    border-radius: 10px; /* change thickness of border */
    padding-left: 20px;
    padding-right: 20px;
    margin: 60px auto 0; /* top margin to 60px and centers container horizontally */

}

.book-container h4 {
    text-align: center;
    margin: 40px;
    font-family: Nobile; /* edit these to change appearance of 'your reading list' sentence*/
    color: #283618;
    font-size: 24px;
}

.book {
    display: flex;
    align-items: flex-start;
    font-family: Nobile;
  }

  .book-details {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }

  .title-author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px
  }

  .title-author h3 {
    margin-bottom: 5px;
  }

  .book-preview,
   .user-options {
    margin-left: 20px;
    align-self: center;
}

.published-date,
 .categories-rating,
 .description {
    font-size: 14px;
}

.description {
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.book img {
    order: -1;
    width: 300px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
}