
/* put imported fonts here - googlefonts is easiest, lets you import lots and generates the url for you*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #F3EFE0; /* change bg colour of website here */
}

/* NAVIGATION BAR */

.nav ul {
    margin: 0;

}

/* puts nav buttons in one line */
.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black; /* change colour of nav bar buttons */
    text-decoration: none;
}

/* sets colour of nav button when user hovers over them */
nav a:hover {
    background-color: #dbd3b480;
}

/* centres the nav bar buttons */
.nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid #dbd3b4;
}

/* HEADING AND SUB-HEADING */

.main-header{
    background-color: #e8e2cb; /* change this for header bg colour*/
    padding-bottom: 10px;
}

/* edit this to change how chapter one heading looks */
.website-name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: Playfair Display;
    font-weight: 500;
}

/* edit this to change how sub-heading looks */
.website-tagline {
    text-align: center;
    margin: 10px;
    font-size: 1.5em;
    font-family: Playfair Display;
    font-weight: 400;
    font-style: italic;
}

/* ALL BOOK BUTTONS TOGETHER */
/* This adds margin to main body of page containing options buttons */
.menus {
    margin: 1em;
}

.container {
    margin: 0 auto;
    padding: 0 1.5em;
}

/* edits section header 'use the options below...' can change appearance here*/
.section-header {
    font-family: Playfair Display;
    font-weight: 400;
    margin: 40px;
    text-align: center;
}

/* BUTTONS */

/* 'fiction or non-fiction' label and dropdown on the same line */
.genre-menu .genre-select {
    display: inline-block;
    align-items: center;
}

/* centres the 'fiction or non-fiction' label and dropdown*/
.genre-menu {
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}

.genre-select {
    text-align: center;
    font-family: OpenSans;
}

/* 'what genre?' label and dropdown on same line */
.category .category-select {
    display: inline-block;
    align-items: center;
    margin-bottom: 20px;
 
}

.category {
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
}

/* length button edits here */

.length .length-buttons {
    align-items: center;
}

.length {
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
}
/* need to edit to get buttons in line */
.length-buttons {
    font-family: Open Sans;
    font-weight: 300;
    margin-bottom: 20px;
}

/* publication year sliders */

.year {
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
}
/* TO DO: incorporate into one slider */
.year-slider {
    text-align: center;
    margin-bottom: 20px;
    font-family: Open Sans;
    font-weight: 300; 
}

/* order by button */
.order-by {
    text-align: center;
    margin-bottom: 20px;
}

/* submit button */
.submit-button {
    text-align: center;
    margin-bottom: 20px;
}

