{% extends "layout.html" %}

{% block main_content %}

<section class="welcome-wrapper">
    <h4 class="title"> Welcome to ChapterOne </h4>
    <p class="message">Looking for your next read but not sure where to start? Let Chapter One help you! Using the
        filters below, set your preferred criteria to help refine and detail your search in order to return a list of
        recommendations. You'll be cosied up with your next book in no time.</p>


    <div class="container">
        <h4> Select from the filters below to generate your personalised reading list:</h4>

        <form action="/" method="POST">

            <div class="genre-menu">
                <label for="genre">Genre:</label>
                <div class="genre-select">
                    <select id="genre" onchange="updateCategories()">
                        <option value="0">I am interested in reading...</option>
                        <option value="fiction">Fiction</option>
                        <option value="non-fiction">Non-Fiction</option>
                    </select><br>
                </div>
            </div>

            <div class="category">
                <label for="category">Category:</label>
                <div class="category-select">
                    <select id="category" name="categories">
                        <!--                Categories will be dynamically generated based on genre using JS script at bottom of html body-->
                    </select><br>
                </div>
            </div>

            <div class="length">
                <label for="book_length"> Length:</label>
                <div class="length-buttons">
                    <input id="book_length" type="radio" name="book_length" value="short">Short<br>
                    <input type="radio" name="book_length" value="medium">Medium<br>
                    <input type="radio" name="book_length" value="long">Long<br>
                </div>
            </div>

            <div class="order-by">
                <select id="order_by" name="order_by">
                    <option value="0">Order by...</option>
                    <option value="newest">Newest</option>
                    <option value="top rated">Top Rated</option>
                </select><br>
            </div>

            <div class="submit-button">
                <input type="submit" class="button" value="Find books">
            </div>
            <input type="hidden" id="selected_genre" name="selected_genre" value="">
        </form>
    </div>
</section>

{% endblock %}