<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <!-- This line needs to always say this -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    {% block head_content %}{% endblock %}

</head>

<body>
<header class="header-wrapper">
    <h1 class="website-name"> ChapterOne</h1>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>

{% block main_content %}{% endblock %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>